@import "variables.scss";
@import "mixins.scss";



body{
    background-color: $background;
    color: $white;
    margin:0;
    font-family: 'Nunito', sans-serif;
}

.title{
    position: absolute;
    left: 6.6em;
    font-size: 27px;
}

.navbar {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    z-index: 99;
}

.navigation{
    margin-top: 1%;
    z-index: 1000;
}

.navigation a{
    color: $white-opacity;
    font-size: 15px;
    text-decoration: none;
    padding: 0 25px;
}

.contact-button{
    color: #ffffff;
    border: solid 0.1em #ffffff;
    border-radius: 0.3em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin: 2em;
    background: none;
}

.Intro{
    margin-right: 61em;
    margin-left: 9em;
    margin-top: 6em;
}

.Intro p{
    color: $white-opacity;
    font-size: 12px;
}

.Intro input{
    color: #ffffff;
    border-radius: 0.3em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    font-size: 16px;
}

.plans-button{
    background: linear-gradient(to right, $blue, $pink);
    border: none;
    box-shadow: 0px 0px 10px -1px $pink; 
}

.start-button{
    border: solid 0.1em #ffffff;
    background: none;
}

.mockup img{
    width: 44vw;
    position: absolute;
    top: 2em;
    right: 11em;
    z-index: 1;
}